I am modifying the code!!!!!!!!!!!!

In [1]:
a=100
b=200
c=a+b
print(c)

300

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns

In [2]:
path="G:\ds&ai\Visadataset.csv"
visa_df=pd.read_csv(path)
visa_df

,case_id,continent,education_of_employee,has_job_experience,requires_job_training,no_of_employees,yr_of_estab,region_of_employment,prevailing_wage,unit_of_wage,full_time_position,case_status
0,EZYV01,Asia,High School,N,N,14513,2007,West,592.2029,Hour,Y,Denied
1,EZYV02,Asia,Master's,Y,N,2412,2002,Northeast,83425.6500,Year,Y,Certified
2,EZYV03,Asia,Bachelor's,N,Y,44444,2008,West,122996.8600,Year,Y,Denied
3,EZYV04,Asia,Bachelor's,N,N,98,1897,West,83434.0300,Year,Y,Denied
4,EZYV05,Africa,Master's,Y,N,1082,2005,South,149907.3900,Year,Y,Certified
...,...,...,...,...,...,...,...,...,...,...,...,...
25475,EZYV25476,Asia,Bachelor's,Y,Y,2601,2008,South,77092.5700,Year,Y,Certified
25476,EZYV25477,Asia,High School,Y,N,3274,2006,Northeast,279174.7900,Year,Y,Certified
25477,EZYV25478,Asia,Master's,Y,N,1121,1910,South,146298.8500,Year,N,Certified
25478,EZYV25479,Asia,Master's,Y,Y,1918,1887,West,86154.7700,Year,Y,Certified
25479,EZYV25480,Asia,Bachelor's,Y,N,3195,1960,Midwest,70876.9100,Year,Y,Certified

In [4]:
visa_df.columns

Index(['case_id', 'continent', 'education_of_employee', 'has_job_experience',
       'requires_job_training', 'no_of_employees', 'yr_of_estab',
       'region_of_employment', 'prevailing_wage', 'unit_of_wage',
       'full_time_position', 'case_status'],
      dtype='object')

In [5]:
visa_df.select_dtypes(exclude='object').columns

Index(['no_of_employees', 'yr_of_estab', 'prevailing_wage'], dtype='object')

In [6]:
visa_df['prevailing_wage']

0           592.2029
1         83425.6500
2        122996.8600
3         83434.0300
4        149907.3900
            ...
25475     77092.5700
25476    279174.7900
25477    146298.8500
25478     86154.7700
25479     70876.9100
Name: prevailing_wage, Length: 25480, dtype: float64

#### count no of samples

In [7]:
len(visa_df['prevailing_wage'])

25480

In [9]:
count=visa_df['prevailing_wage'].count()
count

25480

## Mean

In [11]:
visa_df['prevailing_wage'].mean()                         # .mean() is from pandas

74455.81459209183

In [12]:
np.mean(visa_df['prevailing_wage'])                      # np.mean() is from numpy

74455.81459209183

In [14]:
# you can round off the mean also
round(visa_df['prevailing_wage'].mean(),3)

74455.815

## Median

In [16]:
visa_df['prevailing_wage'].median()

70308.20999999999

In [17]:
np.median(visa_df['prevailing_wage'])

70308.20999999999

In [19]:
round(visa_df['prevailing_wage'].median(),3)

70308.21

## Standard deviation

In [21]:
visa_df['prevailing_wage'].std()

52815.94232687357

In [22]:
np.std(visa_df['prevailing_wage'])

52814.90589711402

In [23]:
round(visa_df['prevailing_wage'].std(),3)

52815.942

### apply max and min

In [24]:
visa_df['prevailing_wage'].min()

2.1367

In [25]:
np.min(visa_df['prevailing_wage'])

2.1367

In [26]:
visa_df['prevailing_wage'].max()

319210.27

In [27]:
np.max(visa_df['prevailing_wage'])

319210.27

In [28]:
wage_count=round(visa_df['prevailing_wage'].count(),2)
wage_mean=round(visa_df['prevailing_wage'].mean(),2)
wage_median=round(visa_df['prevailing_wage'].median(),2) 
wage_standard_deviation=round(visa_df['prevailing_wage'].std(),2) 
wage_minimum=round(visa_df['prevailing_wage'].min(),2) 
wage_maximum=round(visa_df['prevailing_wage'].max(),2) 

l=[wage_count,wage_mean,wage_median,wage_standard_deviation,wage_minimum,wage_maximum]
frame=pd.DataFrame(l,columns=['prevailing_wage'],index=['count','mean','median','standard_deviation','minimum','maximum'])
frame

                    prevailing_wage
count                      25480.00
mean                       74455.81
median                     70308.21
standard_deviation         52815.94
minimum                        2.14
maximum                   319210.27

In [4]:
# visa_df['prevailing_wage'].mode()

## Percentile & Quantile

In [29]:
# Available in numpy

# np.percentile()           takes column name and value b\w 0 to 100
# np.quantile()             takes column name and value b\w 0 to 1       # Quantiles must be in the range [0, 1]

In [21]:
np.percentile(visa_df['prevailing_wage'],25)

34015.479999999996

In [22]:
np.quantile(visa_df['prevailing_wage'],0.25)

34015.479999999996

In [23]:
# 25 percentile = 34015.47
# means 25% of total data has wage less than 34015.47
# means 6370 people has wage less than 34015.47                 (25480*25)/100=6370

In [31]:
# let us check above case: 

condition=visa_df['prevailing_wage']<34015.47
# print(type(condition))
visa_df[condition]

# no of rows = 6370 
# so the above statement is valid

,case_id,continent,education_of_employee,has_job_experience,requires_job_training,no_of_employees,yr_of_estab,region_of_employment,prevailing_wage,unit_of_wage,full_time_position,case_status
0,EZYV01,Asia,High School,N,N,14513,2007,West,592.2029,Hour,Y,Denied
7,EZYV08,North America,Bachelor's,Y,N,3035,1924,West,418.2298,Hour,Y,Denied
12,EZYV13,Asia,Bachelor's,Y,N,123876,1963,Northeast,28663.0500,Year,Y,Certified
16,EZYV17,Europe,Master's,Y,N,76638,1991,Midwest,3706.7900,Year,Y,Certified
17,EZYV18,Asia,Master's,Y,N,2747,2001,West,16132.6100,Year,Y,Certified
...,...,...,...,...,...,...,...,...,...,...,...,...
25461,EZYV25462,Asia,Master's,Y,N,2861,2004,West,54.9196,Hour,Y,Denied
25465,EZYV25466,North America,High School,N,N,2577,1995,South,481.2238,Hour,Y,Certified
25466,EZYV25467,Europe,Bachelor's,Y,N,1938,2005,West,6973.4000,Year,Y,Denied
25470,EZYV25471,North America,Master's,Y,N,2272,1970,Northeast,516.4101,Hour,Y,Certified
25473,EZYV25474,Asia,Bachelor's,Y,N,2421,2007,Northeast,22845.5600,Year,Y,Certified

In [25]:
wage_count=round(visa_df['prevailing_wage'].count(),2)
wage_mean=round(visa_df['prevailing_wage'].mean(),2)
wage_median=round(visa_df['prevailing_wage'].median(),2) 
wage_standard_deviation=round(visa_df['prevailing_wage'].std(),2) 
wage_minimum=round(visa_df['prevailing_wage'].min(),2) 
wage_maximum=round(visa_df['prevailing_wage'].max(),2) 
wage_25p=np.percentile(visa_df['prevailing_wage'],25)
wage_50p=np.percentile(visa_df['prevailing_wage'],50)
wage_75p=np.percentile(visa_df['prevailing_wage'],75)


l=[wage_count,wage_mean,wage_median,wage_standard_deviation,wage_minimum,wage_maximum,wage_25p,wage_50p,wage_75p]
# print(l)            # output list is printed
frame=pd.DataFrame(l,columns=['prevailing_wage'],index=['count','mean','median','standard_deviation','minimum','maximum','25p','50p','75p'])
frame

                    prevailing_wage
count                    25480.0000
mean                     74455.8100
median                   70308.2100
standard_deviation       52815.9400
minimum                      2.1400
maximum                 319210.2700
25p                      34015.4800
50p                      70308.2100
75p                     107735.5125

In [32]:
# all numerical together

cols=visa_df.select_dtypes(exclude='object')
print(cols)
l=[]
name=[]

for i in cols:
    count=round(visa_df[i].count(),2)
    mean=round(visa_df[i].mean(),2)
    median=round(visa_df[i].median(),2) 
    standard_deviation=round(visa_df[i].std(),2) 
    minimum=round(visa_df[i].min(),2) 
    maximum=round(visa_df[i].max(),2) 
    p25=np.percentile(visa_df[i],25)
    p50=np.percentile(visa_df[i],50)
    p75=np.percentile(visa_df[i],75)
    
    name.append(i)
    l.append([count,mean,median,standard_deviation,minimum,maximum,p25,p50,p75])

print(name)
ind=['count','mean','median','standard_deviation','minimum','maximum','p25','p50','p75']

frame=pd.DataFrame(zip(l[0],l[1],l[2]),columns=name,index=ind)
frame

       no_of_employees  yr_of_estab  prevailing_wage
0                14513         2007         592.2029
1                 2412         2002       83425.6500
2                44444         2008      122996.8600
3                   98         1897       83434.0300
4                 1082         2005      149907.3900
...                ...          ...              ...
25475             2601         2008       77092.5700
25476             3274         2006      279174.7900
25477             1121         1910      146298.8500
25478             1918         1887       86154.7700
25479             3195         1960       70876.9100

[25480 rows x 3 columns]
['no_of_employees', 'yr_of_estab', 'prevailing_wage']

                    no_of_employees  yr_of_estab  prevailing_wage
count                      25480.00     25480.00       25480.0000
mean                        5667.04      1979.41       74455.8100
median                      2109.00      1997.00       70308.2100
standard_deviation         22877.93        42.37       52815.9400
minimum                      -26.00      1800.00           2.1400
maximum                   602069.00      2016.00      319210.2700
p25                         1022.00      1976.00       34015.4800
p50                         2109.00      1997.00       70308.2100
p75                         3504.00      2005.00      107735.5125

# Describe

In [44]:
visa_df.describe()                             # o/p is shown only for numerical columns

       no_of_employees   yr_of_estab  prevailing_wage
count     25480.000000  25480.000000     25480.000000
mean       5667.043210   1979.409929     74455.814592
std       22877.928848     42.366929     52815.942327
min         -26.000000   1800.000000         2.136700
25%        1022.000000   1976.000000     34015.480000
50%        2109.000000   1997.000000     70308.210000
75%        3504.000000   2005.000000    107735.512500
max      602069.000000   2016.000000    319210.270000

In [43]:
visa_df[['prevailing_wage']].describe()
# visa_df['prevailing_wage'].describe()

       prevailing_wage
count     25480.000000
mean      74455.814592
std       52815.942327
min           2.136700
25%       34015.480000
50%       70308.210000
75%      107735.512500
max      319210.270000